header {
    font-family: 'Merriweather', serif;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0)), url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    text-align: center;
    margin: 0px auto 120px;
}

.header-subtitle {
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin: 0px auto;
    padding-top: 180px;
}

.header-title {
    width: 630px;
    color: white;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin: 16px auto 180px;
}

.div1 {
    font-family: 'Inter', sans-serif;

}

.div1-heading {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.div1-subheading {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;

}

.div1-subheading2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

.div1-img {
    display: block;
    width: 800px;
    margin: 0px auto;

}

.banner1 {
    width: 1320px;
    height: 600px;
    margin: 120px auto;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255, 255, 0)), url(../images/Vectorrr.png);
    display: flex;
    border-radius: 20px;
}
.banner1-text{
    margin: 125px 0px 0px 125px ;
    width: 700px;

}
.banner1-heading {
    color: white;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 6px;
    margin: 0px 0px 24px 0px;
}

.banner1-description {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;

}

.banner1-join {
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

}

.banner1-img{
    width: 320px ;
margin-top: 70px;
}